#Se ignora la carpeta imagen
Imagenes

#Se ignora todos los archivos que sean imagenes
# JPEG
*.jpg
*.jpeg
*.jpe
*.jif
*.jfif
*.jfi
*.ico

# JPEG 2000
*.jp2
*.j2k
*.jpf
*.jpx
*.jpm
*.mj2

# JPEG XR
*.jxr
*.hdp
*.wdp

# Graphics Interchange Format
*.gif

# RAW
*.raw

# Web P
*.webp

# Portable Network Graphics
*.png

# Animated Portable Network Graphics
*.apng

# Multiple-image Network Graphics
*.mng


#Se ignora la carpeta de configuración
blog/config

# Se ignora los archivos creados para las entradas del blog
blog/content/*.html

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide
