:root{
    --leading-color: white; 
    --secon-color: #FAFAFA;
    --third-color: #ECECEC;
    --fourth-color: #D1D1D1;
    --text-color-leading: #212121;
    --text-color-secon: #6b7280;
    --text-small: 14px;
    --text-medium: 16px;
    --text-responsive-leading: 13px;
    --text-responsive-secon: 12px;
    --background-form: #D8DBDE;
    --text-input-field: #F7F7F7;

}
html{
    min-height: 100%;
    position: relative;
}

body{
    background-color: var(--leading-color);
    padding: 0px;
    margin: 0px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
    box-sizing: border-box;
}
label {
    display:block;
    margin-top:20px;
    letter-spacing:1px;
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 4px;
}
.principal{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}
form {
    margin:0 auto;
    border-radius: 20px;
    padding: 20px;
    width:400px;
    background-color: #f6f6f6;
}

input, textarea {
    width:380px;
    height:27px;
    background:var(--background-form);
    border-radius: 10px;
    border:2px solid #f6f6f6;
    padding:10px;
    margin-top:5px;
}
::placeholder{
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
}
textarea {
    height:200px;
}

#submit {
    width:100%;
    border-radius: 15px;
    height:50px;
    border:none;
    margin-top:20px;
    font-family:'Quicksand', sans-serif;
    cursor:pointer;
    font-weight:bold;
    font-size: 13px;
    background: #91B6DC;
}
.message{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 28%;
    border: 2px solid green;
    border-radius: 20px;
    background-color: #91DCA9;
}
.message_error{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 28%;
    border: 2px solid red;
    border-radius: 20px;
    background-color: #F5CACA;
}
.message img, .message_error img{
    width: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}
.message p, .message_error p{
    font-size: 23px;
    font-weight: bold;
    margin: 50px;
}
.message_error a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    
}
.close{
    display: none;
}
@media (max-width: 700px){
    
    .message, 
    .message_error{
        width: 80%;
        height: 280px;
        top: 250px;
        left: 10%;
    }
    .message p, 
    .message_error p{
        font-size: 20px;
    }
}

@media (max-width: 450px){
    .message, 
    .message_error{
        width: 90%;
        height: 200px;
        top: 300px;
        left: 5%;
    }
    .message p, 
    .message_error p{
        font-size: 15px;
    }
    input{
        width:230px;
        height:27px;
    }
    textarea{
        width:230px;
        height:200px;
    }
    form {
        width:250px;
        background-color: #fff;
    }
}