:root{
  --text-leading-footer: #A6A6A6;
  --text-color-secon-footer: #8C8C8C;
  --text-color-credit-footer: #989899;
  --color-leading-footer: #0D0D0D;
  --color-secon-footer: #1a1c20;
}

/* Footer */
footer{
  margin: 0;
  width: 100%;
  height:auto;
  bottom: 0px;
  box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--color-leading-footer);
}
/* Información, footer mobile*/
.footer-conteiner-infor-mobile{
  display: none;
}

/* Container principal del footer */
.footer-conteiner{
  display: flex;
  justify-content:space-around;
  padding: 80px 0 100px 0;
}

.footer-conteiner p
{
  color: var(--text-leading-footer);
  font-size: var(--text-medium);
  font-weight: bold;
}

/* Estilos contacto */
.footer-container-contact-email{
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.footer-container-contact-email i{ 
  font-size: 30px;
  color: white;
  padding-right: 5px;
}
.footer-container-contact-email a{
  text-decoration: none; 
  color: var(--text-color-secon-footer);
}
.footer-container-contact-email a:hover{
  color: white;
}

/* Estilos información */
.footer-conteiner-infor{
  display: flex;
  flex-direction: column;
}
.footer-conteiner-infor-logo img{
  width: 100%;
}
.footer-conteiner-infor-social-media{
  text-align: center;
}
.footer-conteiner-infor-social-media a i{
  font-size: 35px;
  color: white;
}

/* Estilos enlaces */
.footer-conteiner-link{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-conteiner-link ul{
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.footer-conteiner-link ul li a{
  color: var(--text-color-secon-footer);
  text-decoration: none;
}
.footer-conteiner-link ul li a:hover{
  color: white;  
}

/* Estilos información copyright */
.footer-copyright{
  display: flex;
  width: 100%;
  height:auto;
  background-color: var(--color-secon-footer);
  padding: 15px 0 15px 0;
}
.footer-copyright p{
  margin: 0 auto;
  color: var(--text-color-credit-footer);
}
@media (max-width: 858px){
  /* Container principal del footer */
  .footer-conteiner{
    flex-direction: column;
    padding: 50px 50px 50px 50px;
  }

  /* Link footer */
  .footer-conteiner-link{
    align-items: flex-start;
  }

  /* Footer information*/
  .footer-conteiner-infor{
    display: none;
  }

  /* Footer information mobile*/
  .footer-conteiner-infor-mobile{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-conteiner-infor-logo img{
    width: 100%;
  }
}