:root
{
  --leading-color: white; 
  --text-color-leading: black;
  --text-color-footer: white;
  --text-color-secon-footer: #C7C7C7;
  --text-color-menu-hover: #C7C7C7;
  --text-color-credit-footer: #989899;
  --color-footer: #1a1c20;
  --text-small: 14px;
  --text-medium: 16px;
  --text-responsive-leading: 13px;
  --text-responsive-secon: 12px;
  --text-extra-big: 30px;
}
html
{
  min-height: 100%;
  position: relative;
}

body
{
  background-color: var(--leading-color);
  padding: 0px;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}
.principal-container
{

    display: flex;
    flex-direction:column;
    justify-content: stretch;
    align-items: center;
    padding-top: 50px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
.principal-container--encabezado
{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.principal-container--encabezado img
{
    margin:auto;
    display: block;
    width: 100%
}
.titulo
{
    text-align: center;
    font-size: var(--text-extra-big);
}
.principal-container--encabezado p
{
    font-size: var(--text-medium);
    text-align: justify;
    word-spacing: 5px;
    line-height: 30px;
}
#edad_p
{
  padding: 0px;
  margin: 0px;
  font-weight: 400;
}
.principal-container--encabezado ul a
{
    text-decoration: none;
    color: var(--text-color-leading);
}
@media (max-width: 858px){
  .principal-container--encabezado
  {
    width: 80%;
  }
    

}
@media (max-width: 415px)
{
  .principal-container
  {
    height: 1500px;
  }
  
}