:root
{
  --leading-color: white; 
  --text-color-leading: black;
  --text-color-footer: white;
  --text-color-secon-footer: #C7C7C7;
  --text-color-menu-hover: #C7C7C7;
  --text-color-credit-footer: #989899;
  --color-footer: #1a1c20;
  --text-small: 14px;
  --text-medium: 16px;
  --text-responsive-leading: 13px;
  --text-responsive-secon: 12px;
  --text-extra-big: 4.5vw;
}
html
{
  min-height: 100%;
  position: relative;
}

body
{
  background-color: var(--leading-color);
  padding: 0px;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}
.principal-container
{
  padding-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal-container p 
{
  font-weight: 800;
}
.img-1
{
  width: 600px;
  height: 250px;
  padding-bottom: 30px;
}
.img-2
{
  width: 600px;
}
@media (max-width: 858px){
  .principal-container img
  {
    width: 90%;
    height: 200px;
  }
}
@media (max-width: 453px)
{
  
}