:root
{
  --leading-color: white; 
  --secon-color: #FAFAFA;
  --third-color: #ECECEC;
  --fourth-color: #D1D1D1;
  --text-color-leading: #212121;
  --text-color-secon: #6b7280;
  --text-small: 14px;
  --text-medium: 16px;
  --text-responsive-leading: 13px;
  --text-responsive-secon: 12px;
}
html
{
  min-height: 100%;
  position: relative;
}
body
{
  background-color: var(--leading-color);
  padding: 0px;
  margin: 0px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  box-sizing: border-box;
}
/* Esto es el encabezado con la imagen, el nombre el username y la descrición */
header{
  display: flex;
  justify-content: center;
	align-items: center;
  position: relative;
  max-width: 100%;
  height: 400px;
  background-image: url('https://cdn.pixabay.com/photo/2015/09/05/20/02/coding-924920_1280.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
.header-capa{
  
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.737);
}
.header-container-information{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: white;
  width: 100%;
  max-width: 550px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

#down{
  width: 100px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color:#3429EA;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-top: 50px;
}

#down:hover {
  background-color: #1E1BCC;
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}
.principal-container
{
  padding-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.principal-container p 
{
  font-weight: 800;
}
.img-1
{
  width: 600px;
  height: 250px;
  padding-bottom: 30px;
}
.img-2
{
  width: 600px;
}
@media (max-width: 858px){
  .principal-container img
  {
    width: 90%;
    height: 200px;
  }
}
@media (max-width: 453px)
{
  
}