:root
{
  --leading-color: white; 
  --text-color-leading: black;
  --text-color-footer: white;
  --text-color-secon-footer: #C7C7C7;
  --text-color-menu-hover: #C7C7C7;
  --text-color-credit-footer: #989899;
  --color-footer: #1a1c20;
  --text-small: 14px;
  --text-medium: 16px;
  --text-responsive-leading: 13px;
  --text-responsive-secon: 12px;
  --text-extra-big: 6.5vw;
}
html
{
  min-height: 100%;
  position: relative;
  height: 100%;
}

body
{
  background-color: var(--leading-color);
  padding: 0px;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  height: 100%;
}
.inactive
{
    display: none;
}
.menu
{
    display: flex;
    flex-direction: column;
    align-content: center;
    position:fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: var(--color-footer);
    box-shadow: 2px 2px 8px 3px rgba(0, 0, 0, 0.2);
}
.menu ul
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    height: 100%;
    margin-top: -20px;
}

.menu li a
{
    color: var(--text-color-secon-footer);
    text-decoration: none;
    display: flex;
    align-items: center;
}
.menu img
{
    width: 30px;
    margin-right: 10px;
}
.container_principal
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}
.entradas_blog
{
    width: 45%;
}

.entradas_blog_buscador
{
  position: fixed;
  background-color: var(--leading-color);
  width: 70%;
  height: auto;
  top: -20px;
  padding-top: 40px;
  padding-bottom: 5px;
}
.field {
  display:flex;
  position:realtive;
  width:70%;
  flex-direction:row;
}

.field>input[type=text],
.field>button {
  display:block;
  font:1.1em 'Quicksand', sans-serif;
}

.field>input[type=text] {
  flex:1;
  padding:0.6em;
  border:0.1em solid #91B6DC;
  outline: none;
  border-radius: 50px 0 0 50px;
}

.field>button {
  padding:0.6em 0.8em;
  background-color:#91B6DC;
  color:white;
  border:none;
  cursor: pointer;
  border-radius: 0px 50px 50px 0px;
}
.entradas_blog_content
{
  display: flex;
  justify-content: space-around;
  flex: 0 0 42%;
  padding-bottom: 50px;
  padding-top: 50px;
}
a
{
  text-decoration: none;
}
.entradas_blog_content img  
{
  width: 100%;
  height: 250px;
  object-fit: cover;
}
h1
{
  color: #000;

}
.p1
{ 
  width: 100%;
  height: 140px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #000;
  font-size: 15px;
  margin-bottom: 20px;
}
.date
{
  height: 20px;
  color: #000; 
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}