:root
{
  --leading-color: white; 
  --text-color-leading: black;
  --text-color-footer: white;
  --text-color-secon-footer: #C7C7C7;
  --text-color-menu-hover: #C7C7C7;
  --text-color-credit-footer: #989899;
  --color-footer: #1a1c20;
  --text-small: 14px;
  --text-medium: 16px;
  --text-responsive-leading: 13px;
  --text-responsive-secon: 12px;
  --text-extra-big: 6.5vw;
  --background-form: #D8DBDE;
  --text-input-field: #F7F7F7;
}
html
{
  min-height: 100%;
  position: relative;
}

body
{
  background-color: var(--leading-color);
  padding: 0px;
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
  background-image: url(https://cdn.pixabay.com/photo/2023/01/06/10/56/sunset-7700936_960_720.jpg);
  background-size: cover;
}

.container_principal
{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.form
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin:0 auto;
  border-radius: 20px;
  padding: 20px;
  width:400px;
  height: 400px;
  background:rgba(0, 0, 0, 0.427);
}
.titulo 
{
  color: #D8DBDE;
}
#input_usuario, #input_password {
    width:380px;
    height:30px;
    border-radius: 10px;
    background: var(--background-form);
    border:2px solid #f6f6f6;
    padding:10px;
    margin-bottom: 20px;
    margin-top:5px;
    border: none;
}

#input_sbumit {
    width:100%;
    border-radius: 15px;
    height:50px;
    border:none;
    margin-top:20px;
    font-family:'Quicksand', sans-serif;
    cursor:pointer;
    background: #91B6DC;
    font-weight: bold;
}

::placeholder
{
    font-family:'Quicksand', sans-serif;
}
a
{
  margin-top: 10px;
  text-decoration: none;
  color: #D8DBDE;
}

.error
{
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}
.error p
{
  color: red;
  font-size: 20px;
  font-weight: bolder;
}