:root{
  --leading-color: white; 
  --secon-color: #FAFAFA;
  --third-color: #ECECEC;
  --fourth-color: #D1D1D1;
  --text-color-leading: #212121;
  --text-color-secon: #6b7280;
  --text-small: 14px;
  --text-medium: 16px;
  --text-responsive-leading: 13px;
  --text-responsive-secon: 12px;
}
html{
  min-height: 100%;
  position: relative;
}
body{
  background-color: var(--leading-color);
  padding: 0px;
  margin: 0px;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont;
  box-sizing: border-box;
}

/* Esto es el encabezado con la imagen, el nombre el username y la descrición */
header{
  display: flex;
	max-width: 100%;
	height: 597px;
	background-image: url(../../img/png_20230213_185406_0000.jpg);
	background-repeat: no-repeat;
	background-size:cover;
}
header .header-container{
  max-width: 1000px;
	height: 100%;
	display: flex;
  justify-content: center;
}
header .header-container .header-container-information{
  flex-basis: 50%;
	text-align: left;
	align-self: center;
  position: relative;
  left: 50px;
}

/* Estilos información personal */
header .header-container .header-container-information span{
  letter-spacing: -0.05em;
  font-weight: 800;
  line-height: 1;
  display: block;
}

/* Estilos presentation */
.presentation{
  color: var(--text-color-leading);
  font-size: 2.5rem;
}

/* Estilos username */
.name{
  color: #3429EA;
  margin: 0;
  font-size: 5rem;
  white-space: nowrap;
}
.profession{
  color: var(--text-color-leading);
  font-size: 2.5rem;
}
#aboutMe{
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color:#3429EA;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-top: 50px;
}
#aboutMe:hover {
  background-color: #1E1BCC;
  transform: translateY(-3px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

/* Container principal */
.main-container{
  background-color: var(--secon-color);
  width: 100%;
}

/* Información sobre mí */
.main-container-about{
  display: flex;
  justify-content: space-around;
  padding: 50px;
}
.main-container-about-img img{
  width: 100%;
  border-radius: 8px;
  height: 100%;
  object-fit: cover;
}
.main-container-about-text a{
  text-decoration: none;
  color: var(--text-color-leading);
  font-weight: bold;
}

/* Skill */
.main-container-skills
{
  display: grid;
  grid-row: auto;
  grid-column:repeat(6,1fr);
  background-color: var(--third-color);
  padding:10px 50px 30px 50px;
  box-shadow: 2px 2px 5px 2px rgba(34, 34, 34, 0.2);
}
.main-container-skills h1{
  text-align: center;
  grid-column: 1/6;
  font-size: 25px;
}
.main-container-skills-information{
  grid-column: auto;
  border-radius: 20px;
  text-align: center;
  background-color: var(--leading-color);
  width: 200px;
  height: auto;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.main-container-skills-information img{
  width: 100px;
}

/* Redes sociales */
.main-container-social{
  background-color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  padding: 5px 50px 50px 50px;
  align-content: space-around;
  box-shadow: 2px 2px 5px 2px rgba(34, 34, 34, 0.2);
}
.main-container-social h1{
  text-align: center;
}

/* Instagram */
.main-container-social-instagram, 
.main-container-social-linkedin{
  width: 100%;
  display: grid;
  grid-row: auto;
  grid-column:repeat(4,1fr);
}
.main-container-social-instagram h3,
.main-container-social-linkedin h3{
  grid-column: 1/4;
}
.main-container-social-instagram-conten{
  width:88%;
  height:auto;
  background-color: var(--secon-color);
  padding: 20px;
  border-radius: 20px;
}
.main-container-social-instagram-conten a,
.main-container-social-linkedin-conten a{
  text-decoration: none;
}
.items-porfile{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 10px;
}
.items-porfile-photo img{
  width: 45px;
  border-radius: 50%;
}
.items-porfile-information p{
  padding-left: 10px;
  margin: 0;
  line-height: 1;
  color: var(--text-color-leading);
}
.img img{
  border-radius: 8px;
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.items-porfile-information p:first-child{
  font-weight: bold;
}
.description{
  color: var(--text-color-leading);
}

/* LinkedIn */

.main-container-social-linkedin-conten{
  width:95%;
  height:auto;
  background-color: var(--secon-color);
  border-radius: 10px;
}
.information-profile{
  display: flex;
  height: auto;
  padding: 20px;
}
.information-profile img{
  width: 45px;
  object-fit: cover;
}
.information-profile div p{
  font-size: 12px;
  line-height: 1;
  margin: 0;
  color: black;
  padding-left: 10px;
}
.linkedin-name{
  font-size: 15px !important; 
  color: var(--text-color-leading) !important;
}
.content-post{
  color: black;
  padding: 0px 20px 10px 20px;
}
.content img{
  width: 100%;
}

@media (max-width: 1200px) {

  /* Estilos información personal header*/
  header .header-container .header-container-information span{
    font-size: 3rem;
  }

  /* skills */
  .main-container-skills {
    grid-column: repeat(4, 1fr);
  }
  .main-container-skills h1{
    grid-column: 1/4;
  }

  /* Social media */
  .main-container-social-instagram, 
  .main-container-social-twitter{
    grid-column:repeat(2,1fr);
  }

  .main-container-social-instagram-conten,
  .main-container-social-twitter-conten{
    margin-bottom: 20px;
  }

  .main-container-social-instagram h3,
  .main-container-social-twitter h3{
    grid-column: 1/2;
  }
}
@media (max-width: 880px){
  header{
    height: 350px;
  }
}
@media (max-width: 767px) {
  .name {
    font-size: 3rem;
  }
  .profession, .presentation{
    font-size: 1.5rem;
    white-space: nowrap;
  }
  header .header-container .header-container-information span {
    font-size: 2rem;
  }
  #aboutMe {
    font-size: 14px;
  }
  /* skill */
  .main-container-skills {
    grid-column: repeat(3, 1fr);
  }
  .main-container-skills h1{
    grid-column: 1/3;
  }

  /* Sobre mi */
  .main-container-about{
    flex-direction: column;
  }
}

@media (max-width: 575px) {

  header .header-container .header-container-information{
    left: 20px;
  }

  header{
    height: 250px;
  }
  .name {
    font-size: 1rem;
  }
  .profession, .presentation{
    font-size: 0.5rem;
    white-space:normal;
  }
  /* skill */
  .main-container-skills {
    grid-column: repeat(1, 1fr);
  }
  .main-container-skills h1{
    grid-column: 1/1;
  }
}

@media (max-width: 575px) {
  /* skill */
  .main-container-skills-information {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  /* skill */
  .main-container-skills-information img {
    width: 80px;
  }
}