.menu
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--leading-color);
  width: 100%;
  height: 80px;
}
.menu_MobileIcon
{
  margin: 40px;
  display: none;
  cursor: pointer;
}
.menu_logo img
{
  height: 60px;
  width: 200px;
  margin-left: 20px;
}
.menu_Desktop ul
{
  float: right;
  list-style: none;
  margin: 0;
}
.menu_Desktop li 
{
  display: inline-block;
  line-height: 20px;
  margin-right: 20px;
}
.menu_Desktop a
{
  color: var(--text-color-leading);
  display: block;
  text-decoration: none;
  font-weight: 510;
  font-size: var(--text-small);
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.menu_Desktop a:hover
{
  color: var(--text-color-menu-hover);
  transition: .5s;
}
.menu_Mobile
{
  padding-top: 20px;
  padding-bottom: 50px;
  position:fixed;
  background-color:white;
  width: 100%;
  top: 80px;
  left: -105%;
  transition: all .5s;
  height: auto;
  padding-bottom: 100px;
}
.show
{
  left: 0;
}
.menu_Mobile ul 
{
  
  float: left;
  list-style: none;
  margin: 0;
}

.menu_Mobile ul a
{
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}
.menu_Mobile img
{
  width: 50px;
  padding-right: 10px;
}
@media screen and (max-width: 952px)
{

  .menu_logo img
  {
    height: 40px;
    width: 160px;
    position:relative;
    top: 0px;
  }
}
@media (min-width: 857px){
  .menu_Mobile
  {
    display: none;
  }
}

@media (max-width: 858px){
  .menu_Desktop
  {
    display: none;
  }
  .menu_MobileIcon
  {
    display: block;
  }
  .menu_logo img
  {
    margin: auto;
  }
}