#buttonBanner{
    display: inline-block;
    padding: 10px 20px;
    font-size: var(--text-medium);
    font-weight: bold;
    color: white;
    background-color:var(--color-botton-banner);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-top: 50px;
}
#buttonBanner:hover {
    background-color: var(--color-hover-botton-baner);
    transform: translateY(-3px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}